<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.study.myproject01.members.mapper.MembersMapper">
    <!-- 회원가입 -->
    <insert id="register" parameterType="MembersVO">
        insert into members(m_id, m_pw, m_name, m_addr, m_email, m_phone)
        values(#{m_id}, #{m_pw}, #{m_name}, #{m_addr}, #{m_email}, #{m_phone})
    </insert>
    <!-- [ORACLE] register: AUTO_INCREMENT 없음 → SEQUENCE 사용
        insert into members(m_idx, m_id, m_pw, m_name, m_addr, m_email, m_phone)
        values(seq_members.nextval, #{m_id}, #{m_pw}, #{m_name}, #{m_addr}, #{m_email}, #{m_phone})
    -->

    <_____ id="_____" parameterType="_____" resultType="_____">
        _____ _____ _____ _____ _____ _____ = _____ _____ _____=#{_____}
    </_____>

    <_____ id="_____" parameterType="_____">
        _____ _____ _____ _____ _____ = #{_____}
    </_____>

    <!-- refreshToken 저장 -->
    <insert id="saveRefreshToken" parameterType="RefreshTokenVO">
        insert into refresh_tokens (rt_user_id, rt_token)
        values(#{rt_user_id}, #{rt_token})
    </insert>

    <!-- refreshToken 으로 조회 -->
    <select id="findRefreshToken" parameterType="String" resultType="RefreshTokenVO">
        select * from refresh_tokens where rt_token=#{rt_token}
    </select>

    <_____ id="_____" parameterType="_____">
        _____ _____
        _____ _____=#{_____}, _____=#{_____}, _____=#{_____},
            _____=#{_____}, _____=#{_____}
        _____ _____=#{_____} _____ _____=_____
    </_____>

    <_____ id="_____" parameterType="_____">
        _____ _____ _____ _____=_____, _____=_____() _____ _____=#{_____}
    </_____>
    <!-- [ORACLE] delete: now() → sysdate -->
</mapper>
