<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.study.myproject01.members.mapper.MembersMapper">
    <select id="_____" parameterType="_____" resultType="_____">
        _____ _____ _____ _____ _____ _____ = _____ _____ _____=#{_____}
    </select>

    <delete id="_____" parameterType="_____">
        _____ _____ _____ _____ _____ = #{_____}
    </delete>

    <insert id="_____" parameterType="_____">
        _____ _____ _____ (_____, _____)
        _____(#{_____}, #{_____})
    </insert>
    <select id="findRefreshToken" parameterType="String" resultType="RefreshTokenVO">
        select * from refresh_tokens where rt_token=#{rt_token}
    </select>
</mapper>
